.button_login{
    width: 300px;
    border-radius: 5px;
    padding: 0 10px;
    height: 30px;
    background-color: #7FAD39;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
    transition: rotate 0.5s, background-color 0.2s, color 0.2s ease-in;


    &:active{
        background-color: #c1ec81;
        color:#7FAD39;
        zoom: -1.5;
        rotate: 45deg;
    }
    &:hover{
        background-color: #c1ec81;
        color:#7FAD39;

    }
}

.input{
    margin-bottom:20px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}